<div class='span2 visible-desktop'></div>
<div class='angular-page span8'>
	<div class='basic-cont'>
		<h3>Basic Overview</h3>
		<p>AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript on the client side. More info can be found on their<a href='https://angularjs.org/'> site</a>.</p>
		<h5>To Use:</h5>
		<p>You can download and include AngularJS in your source code, or you can use a CDN. <a href='https://docs.angularjs.org/misc/downloading'>Download Link</a>.</p>
	</div>
	<div class='examples-cont'>
		<h3>Simple Examples</h3>
		<div class='angular-directives'>
			<h5>Directives</h5>
			<p>Comeing soon...</p>
		</div>
		<div class='angular-controllers'>
			<h5>Controllers</h5>
			<p>Comeing soon...</p>
		</div>
		<div class='angular-filters'>
			<h5>Filters</h5>
			<p>Comeing soon...</p>
		</div>
		<div class='angular-routes'>
			<h5>Routes</h5>
			<p>Comeing soon...</p>
		</div>
	</div>
</div>