<div class='span2 visible-desktop'></div>
<div class='node-page span8'>
	<div class='basic-cont'>
		<h3>Basic Overview</h3>
		<p>Node.js is a platform built on Chrome's JavaScript Runtime(V8) for easily building fast, scalable network applications. Basically it's Javascript on the backend. More info can be found on their<a href='http://nodejs.org/'> site</a>.</p>
		<h5>To Use:</h5>
		<p>First install Node.js, you can find the installer <a href='http://nodejs.org/download/'>here</a>.</p>
	</div>
	<div class='useful-plugins-cont'>
		<h3>Useful Plugins/Libraries/Packages/Addons</h3>
		<div class='node-express'>
			<h5>Express</h5>
			<p>Comeing soon...</p>
		</div>
		<div class='node-passport'>
			<h5>Passport</h5>
			<p>Comeing soon...</p>
		</div>
		<div class='node-passport'>
			<h5>Passport</h5>
			<p>Comeing soon...</p>
		</div>
		<div class='node-nodemon'>
			<h5>Nodemon</h5>
			<p>Comeing soon...</p>
		</div>
		<div class='node-winston'>
			<h5>winston</h5>
			<p>Comeing soon...</p>
		</div>
	</div>
</div>