<div class='angular-page'>
	<div class='basic-cont'>
		<h2>
			Basic Overview
		</h2>
		<p>
			AngularJS is an open-source web application framework, maintained by Google and community, that assists with creating single-page applications, one-page web applications that only require HTML, CSS, and JavaScript on the client side. More info can be found on their<a href='https://angularjs.org/'> site</a>.
		</p>
		<h4>
			To Use:
		</h4>
		<p>
			You can download and include AngularJS in your source code, or you can use a CDN. <a href='https://docs.angularjs.org/misc/downloading'>Download Link</a>.
		</p>
	</div>
	<div class='examples-cont'>
		<h2>
			Simple Examples
		</h2>
		<div class='angular-directives'>
			<h4>
				Directives
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='angular-controllers'>
			<h4>
				Controllers
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='angular-filters'>
			<h4>
				Filters
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='angular-routes'>
			<h4>
				Routes
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
	</div>
</div>