<div class='span2 visible-desktop'></div>
<div class='mongo-page span8'>
	<div class='basic-cont'>
		<h3>Basic Overview</h3>
		<p>MongoDB is a cross-platform document-oriented database. Classified as a NoSQL database that uses JSON-like documents with dynamic schemas (BSON). More info can be found on their<a href='http://www.mongodb.com/'> site</a>.</p>
		<h5>To Use:</h5>
		<p>First install MongoDB, you can find the installer <a href='http://www.mongodb.org/downloads'>here</a>.</p>
	</div>
	<div class='examples-cont'>
		<h3>Simple Examples</h3>
		<div class='mongo-connect-database'>
			<h5>Connect to a Database</h5>
			<p>Comeing soon...</p>
		</div>
		<div class='mongo-create-collection'>
			<h5>Create a Collection</h5>
			<p>Comeing soon...</p>
		</div>
		<div class='mongo-insert-documents'>
			<h5>Insert Documents</h5>
			<p>Comeing soon...</p>
		</div>
	</div>
</div>