<div class='mongo-page'>
	<div class='basic-cont'>
		<h2>
			Basic Overview
		</h2>
		<p>
			MongoDB is a cross-platform document-oriented database. Classified as a NoSQL database that uses JSON-like documents with dynamic schemas (BSON). More info can be found on their<a href='http://www.mongodb.com/'> site</a>.
		</p>
		<h4>
			To Use:
		</h4>
		<p>
			First install MongoDB, you can find the installer <a href='http://www.mongodb.org/downloads'>here</a>.
		</p>
	</div>
	<div class='examples-cont'>
		<h2>
			Simple Examples
		</h2>
		<gist id='4f9a02d3ae47d0376f26'></gist>
	</div>
</div>