<div class='mongo-page'>
	<div class='basic-cont'>
		<h2>
			Basic Overview
		</h2>
		<p>
			MongoDB is a cross-platform document-oriented database. Classified as a NoSQL database that uses JSON-like documents with dynamic schemas (BSON). More info can be found on their<a href='http://www.mongodb.com/'> site</a>.
		</p>
		<h4>
			To Use:
		</h4>
		<p>
			First install MongoDB, you can find the installer <a href='http://www.mongodb.org/downloads'>here</a>.
		</p>
	</div>
	<div class='examples-cont'>
		<h2>
			Simple Examples
		</h2>
		<div class='mongo-connect-database'>
			<h4>
				Connect to a Database
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='mongo-create-collection'>
			<h4>
				Create a Collection
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='mongo-insert-documents'>
			<h4>
				Insert Documents
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
	</div>
</div>