<div class='node-page'>
	<div class='basic-cont'>
		<h2>
			Basic Overview
		</h2>
		<p>
			Node.js is a platform built on Chrome's JavaScript Runtime(V8) for easily building fast, scalable network applications. Basically it's Javascript on the backend. More info can be found on their <a target='_blank' href='http://nodejs.org/'>site</a>.
		</p>
		<h4>
			To Use:
		</h4>
		<p>
			First install Node.js, you can find the installer <a target='_blank' href='http://nodejs.org/download/'>here</a>.
		</p>
	</div>
	<div class='useful-plugins-cont'>
		<h2>
			Useful Plugins/Libraries/Packages/Addons
		</h2>
		<div class='node-nodemon'>
			<h4>
				Nodemon
			</h4>
			<p>
				When building a Node.js program, nodemon will watch the files in the directory in which nodemon was started, and if any files change, nodemon will automatically restart your node application.
			</p>
			<br>
			<p>
				Installation:
			</p>
			<gist id='9f3d5872f03db33ae0c0'></gist>
			<p>
				Usage:
			</p>
			<br>
			<p>
				Replace 'your node app' with the main app file of your project.
			</p>
			<gist id='1cfc2f5c2dbbafebd89c'></gist>
		</div>
		<div class='node-winston'>
			<h4>
				Winston
			</h4>
			<p>
				Simple loggin for Node.js
			</p>
			<br>
			<p>
				Installation:
			</p>
			<gist id='d4dec3b6c9dd769e0fde'></gist>
			<p>
				Usage:
			</p>
			<gist id='f50be7560436502fbb30'></gist>
		</div>
	</div>
</div>