<div class='node-page'>
	<div class='basic-cont'>
		<h2>
			Basic Overview
		</h2>
		<p>
			Node.js is a platform built on Chrome's JavaScript Runtime(V8) for easily building fast, scalable network applications. Basically it's Javascript on the backend. More info can be found on their<a href='http://nodejs.org/'> site</a>.
		</p>
		<h4>
			To Use:
		</h4>
		<p>
			First install Node.js, you can find the installer <a href='http://nodejs.org/download/'>here</a>.
		</p>
	</div>
	<div class='useful-plugins-cont'>
		<h2>
			Useful Plugins/Libraries/Packages/Addons
		</h2>
		<div class='node-express'>
			<h4>
				Express
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='node-passport'>
			<h4>
				Passport
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='node-passport'>
			<h4>
				Passport
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='node-nodemon'>
			<h4>
				Nodemon
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='node-winston'>
			<h4>
				winston
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
	</div>
</div>