<div class='span2 visible-desktop'></div>
<div class='resume-page span8'>
	<div class='tech-skills-table'>
		<h3>TECHNICAL SKILLS</h3>
		<table class='table table-bordered'>
			<thead>
				<tr>
					<th colspan='2'>Software</th>
					<th>Applications</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Javascript / jQuery</td>
					<td>MongoDB</td>
					<td>Webstorm/Eclipse</td>
				</tr>
				<tr>
					<td>Git / Subversion</td>
					<td>Jasmine</td>
					<td>Trello / Jira</td>
				</tr>
				<tr>
					<td>HTML / CSS</td>
					<td>Node.js / Perl</td>
					<td>Microsoft Office</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class='work-exp-cont'>
		<h3>WORK EXPERIENCE</h3>
		<div class='work-exp-job-one'>
			<div class='row'>
				<div class='col-md-4'>Abercrombie & Fitch</div>
				<div class='col-md-4'>New Albany, Ohio</div>
				<div class='col-md-4'>9/2013 –  Present</div>
			</div>
			<div class='job-title'>
				<p>Web Developer</p>
			</div>
			<div class='job-description'>
				<ul>
					<li>
						<p>Constructed visually pleasing web pages using the Javascript, CSS3, and HTML5.</p>
					</li>
					<li>
						<p>Worked on a continually evolving e-commerce platform in an Agile environment.</p>
					</li>
					<li>
						<p>Cross browser and cross device QA to ensure the user gets the best experience.</p>
					</li>
					<li>
						<p>Projects:</p>
						<ul>
							<li>
								<p>Created gift suggestion and product placement for the holiday season.</p>
							</li>
							<li>
								<p>Built interchangeable product modules for the Homepage.</p>
							</li>
							<li>
								<p>Incorporated new layouts and functionality for both the mobile and desktop purchase history.</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class='work-exp-job-two'>
			<div class='row'>
				<div class='col-md-4'>Manta Media Inc.</div>
				<div class='col-md-4'>Columbus, Ohio</div>
				<div class='col-md-4'>7/2012 –  8/2013</div>
			</div>
			<div class='job-title'>
				<p>Web Developer</p>
			</div>
			<div class='job-description'>
				<ul>
					<li>
						<p>Created dynamic web pages using the latest HTML5, CSS3, and Javascript Standards.</p>
					</li>
					<li>
						<p>Updated and maintained back end web server using Perl and Node.js.</p>
					</li>
					<li>
						<p>Implemented site metrics using Omniture both in Perl and Javascript.</p>
					</li>
					<li>
						<p>Projects:</p>
						<ul>
							<li>
								<p>Worked with Manta’s custom CSS library to implement a responsive design</p>
							</li>
							<li>
								<p>Helped write the automated testing framework using Gherkin and Cucumber.</p>
							</li>
							<li>
								<p>Built an event system that would fire upon user’s actions and those events would then display in a Activity Stream.</p>
							</li>
							<li>
								<p>Worked with the API in order to retrieve the proper data to display in the Activity Stream.</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class='work-exp-job-three'>
			<div class='row'>
				<div class='col-md-4'>Manta Media Inc.</div>
				<div class='col-md-4'>Columbus, Ohio</div>
				<div class='col-md-4'>10/2011 –  7/2012</div>
			</div>
			<div class='job-title'>
				<p>Intern, Web Developer</p>
			</div>
			<div class='job-description'>
				<ul>
					<li>
						<p>Solved production problems by locating underlying issues.</p>
					</li>
					<li>
						<p>Monitored website processes to ensure quality.</p>
					</li>
					<li>
						<p>Documented for Trac, Wiki and Subversion.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class='education-cont'>
		<h3>EDUCATION</h3>
		<div class='row'>
			<div class='col-md-8'>
				<p>DeVry University</p>
			</div>
			<div class='col-md-4'>
				<p>Columbus, Ohio</p>
			</div>
		</div>
		<p>Bachelor of Science Computer Engineering Technology</p>
		<p>Graduated: June 2012</p>
	</div>
	<div class='membership-project-usergroup-cont'>
		<h3>PROFESSIONAL MEMBERSHIPS / PROJECTS / USERGROUPS</h3>
		<p>Freelancing computer support technician consultant, helping clients with anything from spyware removal to desktop builds to front end development for websites.</p>
		<p>Member of IEEE (2009-Present) – Treasurer (2010-2012)</p>
		<p>Managed various events ranging from ‘technology sales’ to robotics workshops. </p>
		<p>Active member of RAD(Developer’s Facebook group) and Columbus Node.js user group</p>
	</div>
	<div class='programming-cont'>
		<h3>PROGRAMMING PORTFOLIO</h3>
		<p>Most of my personal projects are open source and can be found at GitHub (github.com/jshemas). Blogware app that uses Node.js as its back end technology and MongoDB as its database. Website dedicated to hosting ping pong scores. This application is using the MEAN stack, MongoDB, Express, Angular.js, and Node.js.</p>
	</div>
</div>