<div class='angular-page'>
	<div class='basic-cont'>
		<h2>
			Basic Overview
		</h2>
		<p>
			AngularJS is an open-source web application framework, maintained by Google and community, that helps with creating single-page applications. More info can be found on their <a href='https://angularjs.org/'>site</a>.
		</p>
		<h4>
			To Use:
		</h4>
		<p>
			You can download and include AngularJS in your source code, or you can use a CDN. <a href='https://docs.angularjs.org/misc/downloading'>Download Link</a>.
		</p>
	</div>
	<div class='examples-cont'>
		<h2>
			Simple Example
		</h2>
		<gist id='14e831d52f2d2f69c9a3'></gist>
		<gist id='121ace20e55b851b7594'></gist>
	</div>
</div>