<div class='grunt-page'>
	<div class='basic-cont'>
		<h2>
			Basic Overview
		</h2>
		<p>
			Grunt is a Javascript task runner, that helps automate your web app. Instate of manual linting your files or minfing them, you can use Grunt to do this for you ever time you build. More info can be found on their<a href='http://gruntjs.com/'> site</a>.
		</p>
		<h4>
			To Use:
		</h4>
		<p>
			First install Grunt-cli
		</p>
		<gist id='eb5fb6ae67343f3aad70'></gist>
		<p>
			And now you'll want to make a Grunt config file called 'Gruntfile.js' in your app directory. Example below.
		</p>
		<gist id='6f126c805abe9aa02e50'></gist>
		<p>
			Then to run your grunt file, just type grunt.
		</p>
		<gist id='8f073758abde33903f84'></gist>
	</div>
	<div class='useful-plugins-cont'>
		<h2>
			Useful Plugins
		</h2>
		<div class='grunt-clean'>
			<h4>
				grunt-contrib-clean
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='grunt-jshint'>
			<h4>
				grunt-contrib-jshint
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='grunt-watch'>
			<h4>
				grunt-contrib-watch
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='grunt-copy'>
			<h4>
				grunt-contrib-copy
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='grunt-cssmin'>
			<h4>
				grunt-contrib-cssmin
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
		<div class='grunt-uglify'>
			<h4>
				grunt-contrib-uglify
			</h4>
			<p>
				Comeing soon...
			</p>
		</div>
	</div>
</div>