<div class='span2 visible-desktop'></div>
<div class='home-page span8'>
	<div class="jumbotron">
		<div class="media">
			<a class="pull-left" href="#">
				<img src="http://placehold.it/250x150">
			</a>
			<div class="media-body">
				<h4 class="media-heading">Hello World!</h4>
				I am Josh Shemas, a hard working developer who loves web applications. I'm very interested in working with Node.js and other JavaScript technologies. I am also interested in noSQL databases like MongoDB.
			</div>
		</div>
	</div>
</div>